@{
    ViewData["Title"] = "Nomina";
    
}

<div class="container rounded-lg border-2 bg-gray-500 p-4 shadow-lg">

    <!-- Título -->
    <div class="mb-4 text-center text-white">
        <h1 class="text-xl font-semibold">
            Nómina: @ViewBag.PeYear
        </h1>
    </div>

    <!-- Datos de la Nómina -->
    <div class="mb-2 rounded-lg border bg-gray-300 p-6 text-gray-600 shadow-md">

        <!-- Periodo y Asistencia -->
        <div class="flex w-full flex-wrap text-sm sm:flex-col lg:flex-row lg:text-lg">

            <div class="flex flex-grow flex-col">

                <div class="flex flex-grow flex-col py-2 lg:flex-row">
                    <div class="flex flex-grow">
                        <label class="flex-1 py-2 text-right">Periodo:</label>
                        <input class="flex-1 rounded border px-2 py-1"
                               name="periodoInicio"
                               value="@ViewBag.DatePeriodo.CbSalario"
                               readonly>
                    </div>
                    <div class="flex flex-grow">
                        <label class="flex-1 py-2 text-right">al:</label>
                        <input class="flex-1 rounded border px-2 py-1"
                               name="periodoFin"
                               value="@ViewBag.DatePeriodo.PeriodoFin"
                               readonly>
                    </div>
                </div>

                <div class="flex flex-grow flex-col py-2 lg:flex-row">
                    <div class="flex flex-grow">
                        <label class="flex-1 py-2 text-right">Asistencia:</label>
                        <input class="flex-1 rounded border px-2 py-1"
                               name="asistenciaInicio"
                               value="@ViewBag.DatePeriodo.CbSalario"
                               readonly>
                    </div>
                    <div class="flex flex-grow">
                        <label class="flex-1 py-2 text-right">al:</label>
                        <input class="flex-1 rounded border px-2 py-1"
                               name="asistenciaFin"
                               value="@ViewBag.DatePeriodo.PeriodoFin"
                               readonly>
                    </div>
                </div>
            </div>

            <!-- Estado y Descripción -->
            <div class="flex flex-grow flex-col">
                <div class="flex lg:py-2">
                    <label class="flex-1 py-2 text-right">Estado:</label>
                    <input class="flex-1 rounded border px-2 py-1"
                           name="estado"
                           value="@ViewBag.DatePeriodo.Estado"
                           readonly>
                </div>
                <div class="flex lg:py-2">
                    <label class="flex-1 py-2 text-right">Descripción:</label>
                    <input class="flex-1 rounded border px-2 py-1"
                           name="descripcion"
                           value="@ViewBag.DatePeriodo.Descripcion"
                           readonly>
                </div>
            </div>
        </div>

        <!-- Percepción, Deducción, Neto y Empleados -->
        <div class="flex w-full flex-grow flex-wrap py-2 text-sm sm:flex-col lg:flex-row lg:text-lg">

            <div class="flex flex-grow flex-col lg:flex-row">
                <div class="flex flex-grow lg:py-2">
                    <label class="flex-1 py-2 text-right">Percepción:</label>
                    <input class="flex-1 rounded border px-2 py-1"
                           name="percepcion"
                           value="@ViewBag.DatePeriodo.Percepcion"
                           readonly>
                </div>
                <div class="flex flex-grow lg:py-2">
                    <label class="flex-1 py-2 text-right">Deducción:</label>
                    <input class="flex-1 rounded border px-2 py-1"
                           name="deduccion"
                           value="@ViewBag.DatePeriodo.Deduccion"
                           readonly>
                </div>
            </div>

            <div class="flex flex-grow flex-col lg:flex-row">
                <div class="flex flex-grow lg:py-2">
                    <label class="flex-1 py-2 text-right">Neto:</label>
                    <input class="flex-1 rounded border px-2 py-1"
                           name="neto"
                           value="@ViewBag.DatePeriodo.Neto"
                           readonly>
                </div>
                <div class="flex flex-grow lg:py-2">
                    <label class="flex-1 py-2 text-right">Empleados:</label>
                    <input class="flex-1 rounded border px-2 py-1"
                           name="empleados"
                           value="@ViewBag.DatePeriodo.Empleados"
                           readonly>
                </div>
            </div>
        </div>

        <!-- Fecha -->
        <div class="flex w-full flex-grow items-center text-sm sm:flex-col md:flex-row md:text-lg">
            <div class="flex w-full flex-col items-center lg:flex-row">
                <label class="flex-1 py-2 text-right">Fecha:</label>
                <input class="flex-1 rounded border px-2 py-1"
                       name="fecha"
                       value="@ViewBag.DatePeriodo.Fecha"
                       readonly>
            </div>
        </div>
    </div>
</div>